In [2]:
import numpy as np
import pandas as pd

# Numpy 教學
## 1. Numpy array 建立

In [33]:
Zeros = np.zeros((3, 3))
Ones = np.ones((3, 3))
Empty = np.empty((3, 3))
Arange = np.arange(0, 12, 3)
Line = np.linspace(0, 12, 3)
Reshape = Zeros.reshape(-1)
print(Zeros, Ones, Empty, Arange, Line, Reshape, sep = '\n\n')

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

[0 3 6 9]

[ 0.  6. 12.]

[0. 0. 0. 0. 0. 0. 0. 0. 0.]

## 2. Numpy 計算

In [34]:
arr = np.arange(0, 12).reshape((3, 4))
sum1 = np.sum(arr, axis = 0)
sum2 = np.sum(arr, axis = 1)
sum3 = np.sum(arr, axis = (0, 1))
sum4 = np.sum(arr, axis = (1, 0))
sum5 = np.sum(arr)
print(arr, '\n')
print(f'sum1, sum2, sum3, sum4, sum5 = ({sum1}, {sum2}, {sum3}, {sum4}, {sum5})')

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

sum1, sum2, sum3, sum4, sum5 = ([12 15 18 21], [ 6 22 38], 66, 66, 66)

In [35]:
print(sum1 + sum1, sum1 - sum1, sum1 * 3, sum1 / 2, sep = '\n\n')
# sum1 + sum2

[24 30 36 42]

[0 0 0 0]

[36 45 54 63]

[ 6.   7.5  9.  10.5]

In [36]:
print(arr == 5, arr > 5, arr <5, sep = '\n\n')

[[False False False False]
 [False  True False False]
 [False False False False]]

[[False False False False]
 [False False  True  True]
 [ True  True  True  True]]

[[ True  True  True  True]
 [ True False False False]
 [False False False False]]

## 3. Numpy IO

In [37]:
np.save('arr.npy', arr)
arr = np.load('arr.npy')

# Pandas 教學
## 1. Pandas 型別
* Series
* Dataframe

In [38]:
# ------------- Series -------------

# From numpy array
series1 = pd.Series(sum1)

# From Python's list
series2 = pd.Series([1, 2, 3, 4])

print(series1, series2, sep = '\n\n')

0    12
1    15
2    18
3    21
dtype: int64

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
# ------------- Dataframe -------------
dates = pd.date_range('20210101',periods = 6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns = [f"col{i}" for i in range(4)])
print(df, '\n')
print(df.index, df.columns, df.describe(), sep = '\n\n')

                col0      col1      col2      col3
2021-01-01 -0.790559  0.193224  1.200098  1.119370
2021-01-02  1.593872  0.816702 -1.608592 -0.442094
2021-01-03  1.148523  0.239543 -0.874756 -0.198366
2021-01-04 -0.139080 -0.700302 -1.079683  0.965502
2021-01-05  0.310711 -0.250714 -0.548236  1.332510
2021-01-06 -0.616049  0.984178  0.492908 -0.100160

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

Index(['col0', 'col1', 'col2', 'col3'], dtype='object')

           col0      col1      col2      col3
count  6.000000  6.000000  6.000000  6.000000
mean   0.251236  0.213772 -0.403044  0.446127
std    0.959291  0.633943  1.051435  0.776070
min   -0.790559 -0.700302 -1.608592 -0.442094
25%   -0.496807 -0.139730 -1.028452 -0.173815
50%    0.085816  0.216383 -0.711496  0.432671
75%    0.939070  0.672412  0.232622  1.080903
max    1.593872  0.984178  1.200098  1.332510

## 2. IO

In [40]:
df = pd.read_csv('homework.csv')
# df.to_csv(index = False)

## 3. index
* simple
* loc
* iloc
* ix(deprecated in 0.20.0 version)

In [43]:
# simple
print(df['col1'], df[['col1', 'col2']], df[:'2021-01-02']['col1'], sep = '\n\n')
print()

# loc (先 row 後 column)
print(df.loc[:'2021-01-02']['col1'], sep = '\n\n')
print()
# df['col1']

# iloc (先 row 後 column)
print(df.iloc[:2][:3], sep = '\n\n')
print()

# ix (先 row 後 column)
# print(df.ix[:2][:col3], sep = '\n\n')
# print()

2021-01-01    1.006763
2021-01-02   -0.718443
2021-01-03    0.099471
2021-01-04   -0.254617
2021-01-05   -0.868964
2021-01-06   -0.145605
Freq: D, Name: col1, dtype: float64

                col1      col2
2021-01-01  1.006763 -0.058786
2021-01-02 -0.718443 -0.755712
2021-01-03  0.099471 -0.151590
2021-01-04 -0.254617 -0.185322
2021-01-05 -0.868964  1.364771
2021-01-06 -0.145605 -0.058780

2021-01-01    1.006763
2021-01-02   -0.718443
Freq: D, Name: col1, dtype: float64

2021-01-01    1.006763
2021-01-02   -0.718443
Freq: D, Name: col1, dtype: float64

                col0      col1      col2      col3
2021-01-01 -0.926929  1.006763 -0.058786  2.358416
2021-01-02 -1.615454 -0.718443 -0.755712 -0.179665

## 4. concat

In [44]:
# ------------- Dataframe -------------
dates = pd.date_range('20210101',periods = 6)
tmp = pd.DataFrame(np.random.randn(6, 2), index=dates, columns = [f"col{i}" for i in range(4, 6)])
print(tmp, '\n')

df1 = pd.concat([df, tmp], axis = 1)
df2 = pd.concat([df, tmp], axis = 0)
print(df1, df2, sep = '\n\n')

                col4      col5
2021-01-01 -1.616816 -0.850349
2021-01-02  0.142302  0.771085
2021-01-03 -0.368211 -0.106690
2021-01-04 -1.827875 -1.139419
2021-01-05 -0.635753  0.290085
2021-01-06 -0.939016  0.766036

                col0      col1      col2      col3      col4      col5
2021-01-01 -0.926929  1.006763 -0.058786  2.358416 -1.616816 -0.850349
2021-01-02 -1.615454 -0.718443 -0.755712 -0.179665  0.142302  0.771085
2021-01-03 -0.119205  0.099471 -0.151590 -1.706689 -0.368211 -0.106690
2021-01-04 -0.198920 -0.254617 -0.185322 -1.271430 -1.827875 -1.139419
2021-01-05  0.352327 -0.868964  1.364771  0.638715 -0.635753  0.290085
2021-01-06  1.196461 -0.145605 -0.058780  0.393371 -0.939016  0.766036

                col0      col1      col2      col3      col4      col5
2021-01-01 -0.926929  1.006763 -0.058786  2.358416       NaN       NaN
2021-01-02 -1.615454 -0.718443 -0.755712 -0.179665       NaN       NaN
2021-01-03 -0.119205  0.099471 -0.151590 -1.706689       NaN       NaN
2021-01-04 -0.198920 -0.254617 -0.185322 -1.271430       NaN       NaN
2021-01-05  0.352327 -0.868964  1.364771  0.638715       NaN       NaN
2021-01-06  1.196461 -0.145605 -0.058780  0.393371       NaN       NaN
2021-01-01       NaN       NaN       NaN       NaN -1.616816 -0.850349
2021-01-02       NaN       NaN       NaN       NaN  0.142302  0.771085
2021-01-03       NaN       NaN       NaN       NaN -0.368211 -0.106690
2021-01-04       NaN       NaN       NaN       NaN -1.827875 -1.139419
2021-01-05       NaN       NaN       NaN       NaN -0.635753  0.290085
2021-01-06       NaN       NaN       NaN       NaN -0.939016  0.766036

## 5. nan

In [45]:
df = pd.read_csv('homework.csv')
# drop 
df1 = df.dropna(axis = 0, how = 'any')

# 補零
df2 = df.fillna(value = 0)

# 用一個 dictionary 填補
df3 = df.fillna(value = {f"col{i}" : i for i in range(df.shape[1])})

# 判斷 df 裡是否有 nan
True in np.asarray(df.isnull())

True

In [4]:
df

                col0      col1      col2      col3
2021-01-01 -0.790559  0.193224  1.200098  1.119370
2021-01-02  1.593872  0.816702 -1.608592 -0.442094
2021-01-03  1.148523  0.239543 -0.874756 -0.198366
2021-01-04 -0.139080 -0.700302 -1.079683  0.965502
2021-01-05  0.310711 -0.250714 -0.548236  1.332510
2021-01-06 -0.616049  0.984178  0.492908 -0.100160

In [6]:
print(df['col0'], df['col1'], df['col2'], df['col3'], sep = '\n\n')

2021-01-01   -0.790559
2021-01-02    1.593872
2021-01-03    1.148523
2021-01-04   -0.139080
2021-01-05    0.310711
2021-01-06   -0.616049
Freq: D, Name: col0, dtype: float64

2021-01-01    0.193224
2021-01-02    0.816702
2021-01-03    0.239543
2021-01-04   -0.700302
2021-01-05   -0.250714
2021-01-06    0.984178
Freq: D, Name: col1, dtype: float64

2021-01-01    1.200098
2021-01-02   -1.608592
2021-01-03   -0.874756
2021-01-04   -1.079683
2021-01-05   -0.548236
2021-01-06    0.492908
Freq: D, Name: col2, dtype: float64

2021-01-01    1.119370
2021-01-02   -0.442094
2021-01-03   -0.198366
2021-01-04    0.965502
2021-01-05    1.332510
2021-01-06   -0.100160
Freq: D, Name: col3, dtype: float64